body {
    font-family: "Fredoka";
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.item {
    border: 2px black solid;
    border-radius: 15px;
    text-align: center;
    width: 500px;
}

.title {

}

.price {

}

.img {
    width: 200px;
    border: none;
    border-radius: 30px;
}

.rating {

}