body {
    font-family: "Fredoka";
}

input {
    font-family: "Fredoka";
    padding: 10px;
    border-radius: 25px;
    border: 1px black solid;
    background-color: transparent;
}

ul {
    list-style: none;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}

.item {
    border: 2px black solid;
    border-radius: 15px;
    text-align: center;
    width: 500px;
}

.title {

}

.price {

}

.img {
    width: 200px;
    border: none;
    border-radius: 30px;
}

.rating {

}

.marg {
    margin-bottom: 20px;
}

.input-list {
    
}

.activated {
    display: block;
    opacity: 1;
    visibility: visible;
}

.unactivated {
    display: none;
    opacity: 0;
    visibility: hidden;
}